.b-embed-frame {
  overflow: scroll;

  iframe {
    margin-top: -90px;
    margin-left: -20px;
    height: calc(500px + 60px);
    border: none;
    width: 700px;
  }
}

@media (max-width: 768px) {
  .b-embed-frame iframe {
    margin-left: 0;
  }
}
