.b-card {
    --card-color: white;

    display: flex;
    background-color: transparent;
    flex-direction: column;
    padding-left: var(--padding);
    border-left: 3px solid var(--card-color);
    border-radius: 3px;
    gap: calc(var(--padding) * 0.5);

    &.b-card--red {
        --card-color: var(--soft-red);
    }

    &.b-card--orange {
        --card-color: var(--soft-orange);
    }

    &.b-card--blue {
        --card-color: var(--soft-blue);
    }

    &.b-card--green {
        --card-color: var(--soft-green);
    }

    &.b-card--purple {
        --card-color: var(--soft-purple);
    }

    &.b-card--yellow {
        --card-color: var(--soft-yellow);
    }

    &.b-card--black {
        --card-color: black;
    }

    &.b-card--surface {
        background-color: color-mix(in oklch, var(--card-color) 20%, transparent);
        padding: var(--padding);

        &.b-card--blur {
            backdrop-filter: blur(10px);
        }
    }

    a {
        max-width: 100%;
    }

    img {
        line-height: 0;
        display: block;
    }

    img.u-media-wide {
        max-width: 600px;
    }

    .b-prose-note {
        opacity: 75%;
    }
}

.b-graphic-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--padding);

    .b-graphic-item {
        --card-color: rgb(0, 0, 0);
        
        background-color: color-mix(in oklch, var(--card-color) 20%, transparent);
        backdrop-filter: blur(10px);
        padding: var(--padding);
        border-left: 3px solid var(--card-color);
        border-radius: 3px;
        gap: var(--padding);

        .b-graphic-item__head {
            margin-bottom: var(--padding);
        }
        
        .b-graphic-item__holder {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: var(--padding);
            align-items: stretch;
        }

        img {
            border-radius: 10px;
            height: 150px;
            width: auto;
            min-width: unset;
            max-width: 100%;
            object-fit: contain;
            transition: all 0.1s;

            &:hover, &:focus {
                transform: scale(1.05);
            }
        }

        p a {
            all: unset;
            color: white;
            cursor: pointer;
            text-decoration: none;
            &:focus, &:hover {
                color: color-mix(in oklch, var(--secondary-color) 50%, white);
            }
        }

        &.b-graphic-item--trans {
            background-color: transparent;
        }

        &.b-graphic-item--blue {
            --card-color: var(--soft-blue);
        }

        img:not([src]), img[src=""] {
            display: none;
        }

        a:has(img:not([src])), a:has(img[src=""]) {
            display: none;
        }
    }
}

.b-music-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--padding);

    .b-music-item {
        --card-color: white;
        
        align-items: flex-start;
        background-color: color-mix(in oklch, var(--card-color) 20%, transparent);
        backdrop-filter: blur(10px);
        padding: var(--padding);
        border-left: 3px solid var(--card-color);
        border-radius: 3px;
        display: flex;
        flex-direction: row;
        gap: var(--padding);
        
        a {
            display: flex;
            flex-direction: row;
            gap: var(--padding);
            align-items: center;
            font-size: 1.3em;
            img {
                border-radius: 10px;
                min-width: 150px;
                max-width: 150px;
            }
        }

        .b-music-item__meta {
            display: flex;
            flex-direction: column;
            gap:calc(var(--padding) * 0.5);
            margin-top: -5px;

            h3 {
                margin-bottom: -5px;
            }

            audio {
                max-width: 500px;
                border-radius: 15px;
                backdrop-filter: blur(10px);
                box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.6);
            }
        }

        p a {
            all: unset;
            color: white;
            cursor: pointer;
            text-decoration: none;
            &:focus, &:hover {
                color: color-mix(in oklch, var(--secondary-color) 50%, white);
            }
        }

        &.b-music-item--red {
            --card-color: var(--soft-red);
        }

        &.b-music-item--blue {
            --card-color: var(--soft-blue);
        }

        &.b-music-item--green {
            --card-color: var(--soft-green);
        }

        &.b-music-item--purple {
            --card-color: var(--soft-purple);
        }

        &.b-music-item--yellow {
            --card-color: var(--soft-yellow);
        }

        &.b-music-item--trans {
            background-color: transparent;
        }

        img:not([src]), img[src=""] {
            display: none;
        }

        a:has(img:not([src])), a:has(img[src=""]) {
            display: none;
        }
    }
}

.b-showcase {
    --card-color: white;

    display: flex;
    background-color: transparent;
    flex-direction: row;
    padding-left: var(--padding);
    border-left: 3px solid var(--card-color);
    border-radius: 3px;
    gap: calc(var(--padding) * 2);

    &.b-showcase--red {
        --card-color: var(--soft-red);
    }

    &.b-showcase--orange {
        --card-color: var(--soft-orange);
    }

    &.b-showcase--blue {
        --card-color: var(--soft-blue);
    }

    &.b-showcase--green {
        --card-color: var(--soft-green);
    }

    &.b-showcase--purple {
        --card-color: var(--soft-purple);
    }

    &.b-showcase--yellow {
        --card-color: var(--soft-yellow);
    }

    &.b-showcase--black {
        --card-color: black;

        .b-showcase__body p {
            color: white;
        }

        .b-showcase__body .b-link-row a {
            border-color: #cccccc;
            color: #cccccc;
        }
    }

    &.b-showcase--surface {
        background-color: color-mix(in oklch, var(--card-color) 20%, transparent);
        padding: var(--padding);

        &.b-showcase--blur {
            backdrop-filter: blur(10px);
        }
    }

    a {
        max-width: 100%;
    }

    img {
        line-height: 0;
        display: block;
    }

    img.u-media-wide {
        max-width: 600px;
    }

    .b-prose-note {
        opacity: 75%;
    }

    .b-showcase__media {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    &.b-showcase--feature .b-showcase__media {
        gap: calc(var(--padding));

        .b-showcase__logo {
            margin-top: -12px;
            min-width: 100%;
        }
    }

    .b-showcase__body {
        display: flex;
        flex-direction: column;
        gap: calc(var(--padding) * 0.5);

        p {
            color: var(--card-color);
        }

        ul {
            line-height: 20px;
        }
    }

    .b-link-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: var(--padding);
        padding-top: calc(var(--padding));

        a {
            display: flex;
            border: 2px solid var(--card-color);
            padding: var(--padding);
            border-radius: 7px;
            font-weight: 500;
            text-decoration: none;
            justify-content: center;
            align-items: center;
            gap: var(--padding);
            color: var(--card-color);

            svg {
                height: 1em;
                width: auto;
                fill: currentColor;
            }

            &:focus,
            &:hover {
                transform: scale(1.1);
                box-shadow: 4px 4px 10px black;
                color: white;
                border-color: white;
            }
        }
    }
}

.b-interest-stack {
    display: flex;
    flex-direction: column;
    gap: calc(var(--padding) * 0.5);

    details.b-interest-card {
        justify-items: center;
        --card-color: white;
        display: flex;
        background-color: transparent;
        flex-direction: column;
        padding: var(--padding) var(--padding) var(--padding) var(--padding);
        border-left: 3px solid var(--card-color);
        border-radius: 3px;
        overflow: hidden;
        gap: calc(var(--padding) * 0.5);

        &[open] {
            height: auto;

            h3 {
                color: white;
            }
        }

        summary {
          margin: 0;
          padding: 0;
          color: color-mix(in oklch, var(--card-color) 20%, white);
          font-size: 1.17em;
          font-weight: bold;
        }

        .b-interest-card__body {
            margin-left: 15px;
            text-shadow: 2px 2px 2px black;
            line-height: 25px;
            display: flex;
            flex-direction: column;
            gap: var(--padding);

            ul {
                display: flex;
                flex-direction: column;
                gap: calc(var(--padding) * 0.75);
                font-weight: normal;
                font-style: normal;

                span {
                    font-weight: bold;
                    font-style: italic;
                    text-decoration: underline;
                }
            }
        }

        &.b-interest-card--surface {
            background-color: color-mix(in oklch, var(--card-color) 20%, transparent);

            &.b-interest-card--blur {
                backdrop-filter: blur(10px);
            }
        }

        &.b-interest-card--red {
            --card-color: var(--soft-red);
        }

        &.b-interest-card--orange {
            --card-color: var(--soft-orange);
        }

        &.b-interest-card--blue {
            --card-color: var(--soft-blue);
        }

        &.b-interest-card--green {
            --card-color: var(--soft-green);
        }

        &.b-interest-card--purple {
            --card-color: var(--soft-purple);
        }

        &.b-interest-card--yellow {
            --card-color: var(--soft-yellow);
        }

        &.b-interest-card--white {
            --card-color: white;
        }

        &.b-interest-card--black {
            --card-color: black;

            .b-interest-card__body p {
                color: white;
            }
        }

        a {
            max-width: 100%;
        }

        img {
            line-height: 0;
            display: block;
        }

        img.u-media-wide {
            max-width: 600px;
        }

        .b-prose-note {
            opacity: 75%;
        }
    }
}


.b-link-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--padding);

    a {
        display: flex;
        border: 2px solid color-mix(in oklch, var(--primary-color) 30%, white);
        padding: var(--padding);
        border-radius: 7px;
        font-weight: 500;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        gap: var(--padding);

        svg {
            height: 1em;
            width: auto;
            fill: currentColor;
        }
        
        &:focus, &:hover {
            transform: scale(1.1);
            box-shadow: 4px 4px 10px black;
            color: white;
            border-color: white;
        }
    }
}

@media (max-width: 756px) {

    .b-link-row {
        flex-direction: column;
    }

    .b-music-grid .b-music-item {
        flex-direction: column;
    }

    .b-showcase {
        .b-showcase__media {
            text-align: left;
            padding-bottom: calc(var(--padding) * 0.5);
        }

        flex-direction: column;
    }

    .b-showcase.b-showcase--feature {
        flex-direction: column;

        .b-showcase__media {
            text-align: left;
            gap: calc(var(--padding) * 0.5);
            padding-bottom: 0;
        }
    }
}